**/.git
**/.github
**/.gitignore
**/node_modules
**/.next
**/.env
**/.env.*
!**/.env.example
**/coverage
**/.turbo
**/dist
**/*.md
**/docs
**/kubernetes
**/terraform
**/docker
**/apps/api
**/scripts
**/tests
**/database
